.is-light-start .header {
	&::before {
		opacity: 0; visibility: hidden;
	}
}

.header {
	position: fixed;
	left: 0; top: 0;
	width: 100%; min-width: 320px;

	&::before {
		content: '';
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%);
		z-index: -1;
		opacity: 1;
		display: none;
		transition: opacity .3s ease, visibility .3s ease, background .3s ease;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		background: var(--background-color, var(--white));
		z-index: -1;
		opacity: 0;
		transition: opacity .3s ease, visibility .3s ease;
		//display: none;
	}

	&.is-mobile-menu-active {
		&::after {
			opacity: 0; visibility: hidden;
		}
	}

	transition: padding-top .3s ease, padding-bottom .3s ease, opacity .3s ease, visibility .3s ease, filter .3s ease, transform .5s ease;

	&.is-hide {
		opacity: 0; visibility: hidden;
		//transform: translate3d(0,-100%,0);
	}

	&.on-scroll {

		&::after {
			opacity: 1; visibility: visible;
		}

		&::before {
			opacity: 0; visibility: hidden;
		}

	}

	z-index: 4;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include _992 {
		display: grid;
		grid-template-columns: 9.375rem auto 9.375rem;

		padding-top: 1.125rem; padding-bottom: 1.1875rem;
		&.on-scroll {
			padding-top: 0.625rem; padding-bottom: 0.625rem;
		}

		//display: none;
	}
	
	align-items: center;

	padding-top: 1.25rem; padding-bottom: 1.25rem;
	&.on-scroll {
		padding-top: 0.625rem; padding-bottom: 0.625rem;
	}

	&.is-transparent-mode {
		&::after {
			opacity: 0; visibility: hidden;
		}

		.header__burger span {
			background: var(--white);
		}

		.header__burger.is-mobile-menu-active span {
			background: var(--black);
		}

		&.on-scroll {
			&::after {
				opacity: 1; visibility: visible;
			}
		}
	}

	&:not(.on-scroll) {
		.header__nav--list li a {
			@include _992 {
				transition: color .2s ease;
			}
		}
		
		.header__logo--img {
			transition: filter .2s ease;
		}
	}

	&.mode-1:not(.is-transparent-mode) {

		.header__nav--list li a {
			//color: var(--black);
			@include _992 {
				&.is-current::before {
					opacity: 1;
				}
			}
		}

		/* .header__logo--img {
			filter: invert(1);
		} */

		/* .header__feedback {
			color: var(--black);
			@media (any-hover: hover) and (min-width: 992px) {
				&:hover {
					border-color: var(--grey);
				}
				
				&:active {
					border-color: var(--black);
				}
			}
		} */

	}

	&.is-transparent-mode {

		.header__nav--list li a {
			@include _992 {
				color: var(--theme-color-1-reverse);
				//transition: color .2s ease;
				&::before {
					background: var(--theme-color-1-reverse);
				}
			}
		}

		.header__logo--img {
			filter: invert(0);
		}

		.header__feedback {
			@include _992 {
				color: var(--theme-color-1-reverse);
			}
			@media (any-hover: hover) {
				&:hover {
					border-color: var(--white);
				}
			}
		}

		.header__burger span {
			background: var(--white);
			//transition: ;
		}
	}

	&.is-transparent-mode.on-scroll {

		.header__nav--list li a {
			@include _992 {
				color: var(--black);
				transition: color .2s ease;
				&::before {
					background: var(--black);
				}
			}
		}

		.header__feedback {

			@include _992 {
				color: var(--black);
			}

			@media (any-hover: hover) and (min-width: 992px) {
				
				&:hover {
					border-color: var(--black);
				}
				
				&:active {
					border-color: var(--grey);
				}
			}
		}
	
		.header__burger span {
			background: var(--black);
		}

		.header__logo--img {
			filter: invert(1);
		}
	}

	&.on-scroll .header__feedback {
		@media (any-hover: hover) {
			transition: border-color .3s ease, background .3s ease, opacity .3s ease, visibility .3s ease, filter .3s ease !important;
		}
	}

	&.on-scroll::after {
		opacity: 1; visibility: visible;
	}

	&.is-transparent-mode.is-changing {
		.header__feedback {
			color: var(--black);
			@media (any-hover: hover) {
				transition: border-color .3s ease, color .3s ease, background .3s ease, opacity .3s ease, visibility .3s ease, filter .3s ease;
			}
		}
	}

	&.is-changing {
		background: transparent;
		.header__nav--list li a {
			@include _992 {
				color: var(--black) !important;
				transition: color .2s ease;
			}
		}

		.header__logo--img {
			filter: invert(1);
		}

		.header__feedback {
			color: var(--black);
			@media (any-hover: hover) {
				transition: border-color .3s ease, color .3s ease, background .3s ease, opacity .3s ease, visibility .3s ease, filter .3s ease;
			}
		}

		.header__burger span {
			background: var(--black);
		}
	}

	// .header__logo

	&__logo {
		
		position: relative;
		z-index: 4;

		// .header__logo--link

		&--link {
			display: block;
		}

		// .header__logo--img
		
		&--img {
			max-width: 100%;
			object-fit: contain;

			transition: filter .2s ease;
			filter: invert(var(--theme-progress));

			@include _992 {
				min-width: 8.6111rem; height: auto;
				transition: none;
				filter: invert(var(--theme-progress));	

			}

			//transition: filter .3s ease;
			//filter: invert(var(--theme-progress,0));
		}
	}

	// .header__nav

	&__nav {
		justify-self: center;

		position: absolute;
		left: 0; top: 0;
		width: max(320px,100%);
		height: calc(var(--vh, 1vh) * 100);

		background: var(--white);

		overflow-y: auto; overflow-x: hidden;

		transform: translate3d(100%,0,0.0001px);

		&.is-mobile-menu-active {
			transform: translate3d(0,0,0.0001px);
		}

		transition: var(--transition);

		display: flex;
		flex-direction: column;

		@include _992 {
			position: static;
			width: auto; height: auto;
			background-color: transparent;
			padding: 0;
			overflow: visible;

			transform: none;

			display: block;
			
		}

		// .header__nav--body

		&--body {
			position: relative;
			padding: var(--height-header) 0 0;
			&::before {
				content: '';
				position: fixed;
				left: 0; top: 0;
				width: 100%; height: var(--height-header);
				background: var(--white);
				z-index: 2;
			}

			flex: 1 1 auto;

			display: flex;
			flex-direction: column;

			@include _992 {
				padding: 0;
				display: block;
				flex: none;
				&::before {
					display: none;
				}
			}
		}

		// .header__nav--list

		&--list {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			flex: 1 1 auto;

			@include _992 {
				align-items: stretch;
				flex-direction: row;
				justify-content: stretch;
			}
		}

		&--list > li {
			width: 100%;
			text-align: start;

			opacity: 0;
			transition: opacity .3s ease;
			
			@include _992 {
				width: auto;
				text-align: center;

				opacity: 1;
			}

		}

		&--list > li > a {

			width: 100%;
			overflow: hidden;
			display: grid;

			> * {
				grid-area: 1/1;
				display: block;
				justify-self: start;
				@include _992 {
					justify-self: stretch;
				}

				transition: transform .3s ease;
				&:nth-child(2) {
					transform: translate(0,100%);
					color: var(--grey);

					display: none;
					@include _992 {
						display: block;
					}
				}
			}

			padding: 9px 16px;

			@include _992 {
				&::before {
					opacity: 0;
				}

				&.is-current::before {
					opacity: 1;
				}
			}

			&.is-current {
				span {
					border-bottom: 2px solid var(--black);
					@include _992 {
						border-bottom: 0;
					}
				}
				@include _992 {
					&::before {
						opacity: 1;
					}
				}
			}

			@include _992 {
				&::before {
					content: '';
					position: absolute;
					left: 0; bottom: 0;
					width: 100%; height: 1px;
					background: var(--theme-color-1);
					opacity: 0;
					transition: opacity .3s ease;
				}
			}

			color: var(--black);
			font-size: 2.25rem;
			font-weight: 500;
			line-height: 111%;
			letter-spacing: -0.135rem;

			@media (min-width: 992px) and (any-hover: hover) {

				position: relative;

				&:hover > * {
					&:nth-child(1) {
						transform: translate(0,-100%);
					}

					&:nth-child(2) {
						transform: translate(0,0);
					}
				}

				&:active::before {
					opacity: 1;
				}
			}

			@include _992 {
				padding: 0;
				margin: 0 0.875rem;
				width: auto;
				font-size: 1rem;
				line-height: 150%;
				letter-spacing: -0.04rem;
				color: var(--theme-color-1);
				//transition: color .2s ease;
			}

			/* @include _container {
				font-size: 1.111111vw;
				span {
					font-size: 1.111111vw;
				}
				letter-spacing: -0.044444vw;
				margin: 0 0.972222vw;

			} */

		}

		&--footer {
			display: flex;
			justify-content: flex-end;

			padding: var(--mob-container-padding);
		}
	}

	&__nav.is-mobile-menu-active &__nav--list li {
		opacity: 1;
		transition-delay: 0.2s;
	}

	// .header__burger

	&__burger {
		position: relative;
	
		width: 30px; height: 30px;
		&::before {
			content: '';
			position: absolute;
			left: 50%; top: 50%;
			width: 150%; height: 150%;
			transform: translate(-50%,-50%);
		}
	
		background: transparent;
	
		z-index: 4;
	
		cursor: pointer;
	
		display: block;
		@include _992 {
			display: none;
		}
	
		span {
			position: absolute;
			left: 0;
	
			width: 100%; height: 2px;
			background: var(--theme-color-1);
			
			transition-duration: .3s;
			transition-timing-function: ease;
			transition-property: transform, top, opacity, visibility, background;
	
			&:nth-child(1) {
				top: 50%;
				transform: translate3d(0,-225%,0);
			}

			&:nth-child(2) {
				top: 50%;
				transform: translate3d(0, 225%, 0);
			}
		}

		&.is-mobile-menu-active span {
			background: var(--black);
			&:nth-child(1) {
				top: 50%;
				transform: translate3d(0, -50%, 0) rotate(45deg);
			}

			&:nth-child(2) {
				top: 50%;
				transform: translate3d(0, -50%, 0) rotate(-45deg);
			}
	
		}
	}

	&__feedback {
		
		background: transparent;
		color: var(--theme-color-1);

		border-color: var(--theme-color-3);

		@media (any-hover: hover) and (min-width: 992px) {
			&:hover {
				border-color: var(--theme-color-1);
			}
			
			&:active {
				border-color: var(--theme-color-3);
			}
		}
	}
}

.is-mobile-menu-active .header.is-transparent-mode {
	.header__logo--img {
		filter: invert(1);
	}
}

.is-mobile-menu-active {
	.header__logo--img {
		filter: invert(100%);
	}
}
