.contacts {

	padding-top: 9.375rem;

	@include _992 {
		display: grid;
		grid-template-columns: 1fr 1.3fr;
		gap: 0 1.25rem;

		padding-top: 8.75rem;
	}

	// .contacts__col

	&__col {
	}

	// .contacts__header

	&__header {
	}

	// .contacts__name

	&__name {
		margin-bottom: 1rem;
		color: var(--theme-color-3);
	}

	// .contacts__mails

	&__mails {
		display: flex;
		flex-direction: column;

		gap: 0.625rem;

		a {
			color: var(--theme-color-1);
			font-size: 1rem;

			overflow: hidden;

			display: grid;
			> * {
				grid-area: 1/1;
				transition: transform .2s ease;
				&:nth-child(1) {
					transform: translate(0,0);
				}

				&:nth-child(2) {
					transform: translate(0,100%);
					color: var(--grey);
				}
			}

			@media (any-hover: hover) {
				&:hover > * {
					&:nth-child(1) {
						transform: translate(0,-100%);
					}

					&:nth-child(2) {
						transform: translate(0,0);
					}
				}
			}
		}
	}

	// .contacts__social

	&__social {
		margin-top: 0.625rem;

		display: flex;
		flex-wrap: wrap;

		gap: 0.375rem;

		a {
			width: 3rem; height: 3.0625rem;
			@include _992 {
				width: 1.75rem; height: 1.75rem;
			}

			svg {
				width: 100%; height: 100%;
				transform: scale(1.1);
				grid-area: 1/1;
				align-self: center; justify-self: center;

				transition: transform .3s ease;

				&:nth-child(2) {
					transform: translate(0,100%) scale(1.1);
				}
			}

			overflow: hidden;

			display: grid;

			border-radius: 50%;
			background: var(--theme-color-1);
			color: var(--theme-color-1-reverse);

			padding-top: 0.125rem;

			@media (any-hover: hover) {
				&:hover > * {
					&:nth-child(1) {
						transform: translate(0,-100%) scale(1.1);
					}

					&:nth-child(2) {
						transform: translate(0,0) scale(1.1);
					}
				}
			}
		}
	}

	// .contacts__offices

	&__offices {

		margin-top: 2.5rem;

		// .contacts__offices--list

		&--list {
			display: inline-grid;
			grid-template-columns: 100%;
			@include _768 {
				grid-template-columns: auto auto;
			}

			gap: 1.25rem;

			color: var(--theme-color-1);
			line-height: 137.5%;
			letter-spacing: -0.04rem;
			font-size: 0.9375rem;
			@include _992 {
				font-size: 1rem;
			}

			a {
				margin-top: 0.4375rem;
				display: inline-grid;
				overflow: hidden;

				> * {
					display: block;
					grid-area: 1/1;

					transition: transform .2s ease;
					&:nth-child(2) {
						transform: translate(0,100%);
						color: var(--grey);
					}
				}

				@media (any-hover: hover) {
					&:hover > * {
						&:nth-child(1) {
							transform: translate(0,-100%);
						}

						&:nth-child(2) {
							transform: translate(0,0);
						}
					}
				}

				color: var(--theme-color-1);
			}
		}
	}

	// .contacts__title

	&__title {
		color: var(--theme-color-1);
	}

	&__title + &__form {
		margin-top: 2.5rem;
	}

	// .contacts__form

	&__form {
		margin-top: 0.625rem;

		display: grid;
		gap: 1.5rem;
		@include _550 {
			grid-template-columns: 1fr 1fr;
			gap: 2.5rem 1.25rem;
		}
		
		position: relative;

		label {
			display: flex;
			position: relative;

			&[data-value] {
				display: grid;
			}

			&[data-value]::before {
				content: attr(data-value) ' ';
				visibility: hidden;
				white-space: pre-wrap;
				width: 100%;
				grid-area: 1/1;

				color: transparent;

			}

			&.is-error input {
				border-color: red;
			}

			&.is-valid input, &.is-valid textarea {
				border-color: var(--theme-color-1);
			}

			&.is-valid::after {
				content: '';
				position: absolute;
				right: 0; top: 0.9375rem;
				width: 0.875rem; height: 0.875rem;
				background: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='14' height='14' rx='7' fill='white'/%3E%3Cpath d='M3.95312 6.87201L6.06196 9.17578L10.0453 4.82422' stroke='%23171718'/%3E%3C/svg%3E%0A")
				center / contain no-repeat;
				filter: invert(1);
			}

			&.is-error::after {
				content: '';
				position: absolute;
				right: 0; top: 0.9375rem;
				width: 0.875rem; height: 0.875rem;
				background: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='14' height='14' rx='7' fill='%23EA2525'/%3E%3Cpath d='M4.5 4.5L9.42611 9.5M4.57389 9.5L9.5 4.5' stroke='white'/%3E%3C/svg%3E%0A")
				center / contain no-repeat;
			}

			&.is-error::before {
				content: attr(data-error-text);
				position: absolute;
				left: 0; top: calc(100% + 0.125rem);
				width: 100%;
				color: #EA2525;
				font-size: 0.625rem;
				font-weight: 500;
				line-height: 138.298%;
				letter-spacing: -0.0138rem;
			}

			textarea {
				overflow-x: hidden;
				grid-area: 1/1;

				width: 100%;
				height: 2.5625rem;
				font-size: 1rem;
			}

			@media (any-hover: hover) {
				&:not(.is-error):hover input, &:not(.is-error):hover textarea {
					border-color: var(--theme-color-1);
				}
			}

			input, textarea, &[data-value]::before {
				background: transparent;

				padding: 0.625rem 1.25rem 0.625rem 0;
				width: 100%; min-height: 100%;
				max-width: var(--width-form,100%);

				resize: none;

				background: transparent;

				&::placeholder {
					color: transparent;
				}

				color: var(--theme-color-1);
				font-weight: 500;
				line-height: 137.5%;
				letter-spacing: -0.04rem;

				transition: border-color .3s ease;

				border-bottom: 0.0625rem solid var(--grey-headings);
			}

			input:focus + span, input:not(:placeholder-shown) + span {
				top: -0.625rem;
				font-size: 0.625rem;
				color: var(--grey-text);
			}

			textarea:focus + span, textarea:not(:placeholder-shown) + span {
				top: -0.625rem;
				font-size: 0.625rem;
			}

			> span {
				position: absolute;
				left: 0; top: 0.625rem;

				color: var(--theme-color-1);
				font-weight: 500;
				line-height: 137.5%;
				letter-spacing: -0.04rem;

				pointer-events: none; user-select: none;

				span {
					color: var(--grey-text);
					&::before {
						content: '(';
					}

					&::after {
						content: ')';
					}
				}

				transition: color .3s ease, top .3s ease, font-size .3s ease;
			}

			&.tel-input-label.is-active > span {
				top: -0.625rem;
				font-size: 0.625rem;

				color: var(--grey-text);
			}

			&.tel-input-label > span {
				left: 3.125rem;
			}
		}

		@include _550 {
			.is-full {
				grid-column: 2 span;
			}
		}

		button[type="submit"] {
			justify-self: start;
			margin-top: 1rem;
			@include _550 {
				margin-top: 0;
			}
		}
	}
}

body.is-dark .contacts__form label {
	&.is-valid::after {
		filter: none;
	}

	&.is-valid input, &.is-valid textarea {
		border-color: var(--theme-color-1);
	}

	input, textarea, &[data-value]::before {
		border-bottom: 0.0625rem solid var(--grey-text);
	}

	@media (any-hover: hover) {
		&:not(.is-error):hover input, &:not(.is-error):hover textarea {
			border-color: var(--theme-color-1);
		}
	}
}
