.our-work {
	
	padding-top: 9.375rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;

	perspective: 399px;

	@include _992 {
		padding-top: 15.625rem;

		display: grid;
		grid-template-columns: 1fr 1.3fr;
		gap: 0 1.25rem;
	}

	// .our-work__title

	&__title {
		overflow: hidden;
		padding-right: 0.625rem;

		span {
			color: var(--theme-color-1);
			padding-right: 0.625rem;
		}

		@include _992 {
			grid-column: 2; grid-row: 1;
		}
	}

	// .our-work__text

	&__text {
		@include _992 {
			grid-column: 1; grid-row: 2;
			margin-top: 2.1875rem;
		}

		color: var(--grey);
		font-weight: 500;
		line-height: 137.5%;
		letter-spacing: -0.04rem;
		font-size: 1rem;

		max-width: 20.5rem;
	}

	// .our-work__card

	&__card {

		&:nth-child(3) {
			@include _992 {
				grid-column: 2; grid-row: 2 span;
				align-self: self-start;
				margin-top: 2.1875rem;
			}
		}

		&:nth-child(4) {
			
			@include _992 {
				grid-column: 1;
				margin-top: 8.75rem;

				max-width: 76%;
			}
		}

		&:nth-child(5) {
			
			@include _992 {
				grid-column: 2 span;
				margin-top: 12.5rem;
				margin-left: auto; margin-right: auto;

				max-width: 66.5%; 
				width: 100%;
			}
			
		}

		&:nth-child(6) {
			
			@include _992 {
				grid-column: 2; grid-row: 2 span;
				align-self: self-start;
				margin-top: 12.5rem;

				width: 100%;
				justify-self: end;
				max-width: 89%;
			}

		}

		&:nth-child(7) {
			@include _992 {
				grid-column: 1; grid-row: 2 span;
				width: 100%;
				max-width: 96%;
			}
		}

		@media (any-hover: hover) {
			&:hover &--image img {
				transform: scale(1.15);
				transition: transform .7s ease;
			}

			&:hover &--content h3 > * {
				&:nth-child(1) {
					transform: translate(0,-100%);
					opacity: 0;
				}

				&:nth-child(2) {
					transform: translate(0,0%);
					opacity: 1;
				}
			}

			&:hover &--image i span {
				&:nth-child(1) {
					transform: translate(0,-100%);
				}

				&:nth-child(2) {
					transform: translate(0,-100%);
				}
			}
		}

		&.is-animated &--image img {
			transform: scale(1);
		}

		perspective: 400px;
		display: block;

		// .our-work__card--image

		&--image {
			padding-top: 69.970845%;
			overflow: hidden;
			img {
				transform: scale(1.15) translateZ(0.0005px);
				transition: transform 1s ease;
			}

			@include _992 {
				padding-top: var(--padding-aspect-ratio);
			}

			i {
				position: absolute;
				right: 1.5rem; bottom: 1.5rem;
				z-index: 2;
	
				width: 2.125rem; height: 2.125rem;
	
				display: flex;
				flex-direction: column;
	
				background: rgba(255, 255, 255, 0.40);
				border-radius: 50%;
	
				overflow: hidden;

				svg {
					width: 30%; height: auto;
				}
	
				span {
					display: inline-flex;
					align-items: center;
					justify-content: center;
	
					border-radius: 50%;
	
					width: 2.125rem; height: 2.125rem; flex: 0 0 2.125rem;

					transition: transform .3s ease;
	
					&:nth-child(1) {
						color: var(--white);
					}
	
					&:nth-child(2) {
						color: var(--black);
						background: var(--white);

						transform: translate(0,100%);
					}
				}
			}
		}

		// .our-work__card--content

		&--content {
			padding-top: 0.625rem;
			max-width: 35rem;

			h3 {

				overflow: hidden;
				display: grid;

				> * {
					grid-area: 1/1;
					display: block;
					
					transition: transform .3s ease, opacity .3s ease;
					&:nth-child(2) {
						transform: translate(0,100%);
						opacity: 0;
					}
				}

				padding-top: 0.5rem;

				font-size: 1.4375rem;
				line-height: 121.739%;
				letter-spacing: -0.0862rem;

				color: var(--theme-color-1);
				font-weight: 500;
				
				@include _768 {
					font-size: 1.75rem;
					line-height: 121.429%;
					letter-spacing: -0.105rem;
				}
			}

			p {
				padding-top: 0.5rem;

				color: var(--grey);
				font-weight: 500;
				line-height: 137.5%;
				letter-spacing: -0.04rem;
			}
		}
	}

	// .our-work__more

	&__more {
		align-self: self-start;
		@include _992 {
			grid-column: 2; justify-self: start;
			margin-left: 6.9375rem;
		}
	}
}
