.services {

	@include _992 {
		padding-top: 250px;
		min-height: calc((var(--svh,1vh) * 100) + 1px);
		min-height: calc(100svh + 1px);
		padding-bottom: 1px;
	}

	@include _container {
		padding-top: 17.361111vw;
	}

	padding-top: 150px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;

	// .services__section-name

	&__section-name {
		text-align: center;
		color: var(--grey);
	}

	// .services__title

	&__title {
		text-align: center;
		
		max-width: 457px; margin: 10px auto 0;
		@include _container {
			max-width: 35vw; margin: 0.694444vw auto 0;
		}
	}

	// .services__wrapper

	&__wrapper {
		margin-top: 41px;

		@include _992 {
			width: 100%;
			overflow-x: hidden;

			border-top: 1px solid var(--grey);
			border-bottom: 1px solid var(--grey);
		}

		@include _container {
			margin-top: 2.847222vw;
		}

		perspective: 300px;

		@include _container {
			border-top: 0.069444vw solid var(--grey);
			border-bottom: 0.069444vw solid var(--grey);
		}
	}

	// .services__list

	&__list {
		
		display: flex;
		backface-visibility: hidden;
		counter-reset: service-card-number;

		
	}

	// .services__card

	&__card {

		min-height: 180px;
		@include _992 {
			min-width: max(33.333%, 489px); min-height: 308px;

			&:last-child {
				border-right: 0;
			}

			&:first-child {
				border-left: 1px solid var(--grey);
			}
		}

		&:last-child {
			border-right: 0;
		}

		@include _container {
			min-height: 21.388889vw;
			border-right: 0.069444vw solid var(--grey);
			&:first-child {
				border-left: 0.069444vw solid var(--grey);
			}	
		}

		border-right: 1px solid var(--grey);
		&:first-child {
			border-left: 0;
		}

		display: flex;
		flex-direction: column;

		

		/* &:first-child {
			padding-left: var(--mob-container-padding);
		}

		&:last-child {
			padding-right: var(--mob-container-padding);
		} */

		@include _992 {
			&:first-child {
				padding-left: var(--container-padding);
			}
	
			&:last-child {
				padding-right: var(--container-padding);
			}
		}

		&:nth-child(-n + 9) &--title span {
			&::before {
				content: "0"counter(service-card-number)". ";
			}
		}

		@media (any-hover: hover) {
			&:hover &--title span {
				&:nth-child(1) {
					transform: translate(0,-100%);
				}

				&:nth-child(2) {
					transform: translate(0,0%);
				}
			}
			
			&:hover &--open::before {
				width: 100%;
			}

			&:hover &--open svg {
				transform: rotate(45deg);
			}
		}

		&--body {
			padding: 36px 26px;
			@include _container {
				padding: 2.5vw 1.805556vw;
			}

			flex: 1 1 auto;

			display: flex;
			flex-direction: column;
		}

		// .services__card--title

		&--title {
			color: var(--black);
			font-weight: 500;
			line-height: 121.429%;
			letter-spacing: -0.0862rem;
			font-size: 1.4375rem;

			display: grid;
			overflow: hidden;

			counter-increment: service-card-number;

			span {
				grid-area: 1/1;
				display: block;

				transition: transform .3s ease;

				&:nth-child(2) {
					transform: translate(0,100%);
				}

				&::before {
					color: var(--grey);
					content: counter(service-card-number)". ";
					padding-right: 4px;
				}
			}
			
			@include _992 {
				font-size: 1.75rem;
				letter-spacing: -0.105rem;
			}

			@include _container {
				font-size: 1.944444vw;
				letter-spacing: -0.116667vw;
			}
		}

		// .services__card--text

		&--text {
			padding-top: 14px;

			flex: 1 1 auto;

			color: var(--grey);
			font-weight: 500;
			line-height: 137.5%;
			letter-spacing: -0.04rem;

			max-width: 382px;

			@include _container {
				max-width: 26.527778vw;
				padding-top: 0.972222vw;
				font-size: 1.111111vw;
			}
		}

		// .services__card--open

		&--open {
			align-self: self-start;
			display: inline-flex;
			align-items: center;
			position: relative;

			color: var(--black);
			text-align: center;
			font-weight: 600;
			line-height: 150%;
			letter-spacing: -0.04rem;

			margin-top: 30px;
			padding: 5px 0;

			&::before {
				content: '';
				position: absolute;
				left: 0; bottom: 3px;
				width: 0; height: 1px;
				background: var(--black);
				transition: width .3s ease;
			}

			svg {
				flex: 0 0 8px;
				margin-left: 10px;

				transition: transform .2s ease;
			}

			@include _container {
				letter-spacing: -0.044444vw;
				margin-top: 2.083333vw;
				padding: 0.347222vw 0;
				font-size: 1.1111vw;

				svg {
					flex: 0 0 0.555556vw; width: 0.555556vw; height: auto;
					margin-left: 0.694444vw;
				}
			}
		}
	}

	&__slider {
		padding-right: 40px;
		
		border-top: 1px solid var(--grey);
		border-bottom: 1px solid var(--grey);

		&--track {
			&.splide__track {
				overflow: visible;
				
			}
		}
		&--list {
			counter-reset: service-card-number;
			
		}
		&--pagination {
			position: absolute;
			left: 50%; top: 100%;
			transform: translate(-50%,100%);
		}
	}

	&__pagination {
		display: flex;
		align-items: center;
		justify-content: center;

		padding-top: 32px;
		gap: 8px;

		&--dot {
			width: 10px; height: 10px; flex: 0 0 10px;
			border-radius: 50%;

			background: #D5D7DD;
			transition: background .2s ease;
			&.is-active {
				background: var(--black);
			}
		}

		@include _992 {
			display: none;
		}
	}
}
