.work-stages {

	display: flex;
	flex-direction: column;
	gap: 1.25rem;

	margin-top: 9.375rem;

	@include _992 {
		flex-direction: row;
		margin-top: 19.375rem;
	}

	// .work-stages__col

	&__col {
		&:nth-child(1) {
			flex: 1 1 auto;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&:nth-child(2) {
			width: 65%;
		}
	}

	// .work-stages__header

	&__header {
		text-align: center;
		max-width: 14.375rem; margin: 0 auto;
		@include _550 {
			max-width: 18.125rem;
		}

		@include _992 {
			text-align: start;
			max-width: 21.25rem;
			margin: 0;
		}
	}

	// .work-stages__name

	&__name {
		color: var(--grey);
	}

	// .work-stages__title

	&__title {
		margin-top: 0.625rem;

		color: var(--grey-headings);
		b {
			font-weight: 500;
			color: var(--theme-color-1);
		}
	}

	// .work-stages__list

	&__list {
		margin-top: 1.875rem;

		display: flex;
		flex-direction: column;

		counter-reset: work-stages-number;

		max-width: 20.3125rem;

		li:nth-child(-n + 9) button span::before {
			content: "0"counter(work-stages-number)"/";
		}

		button {
			position: relative;
			background: transparent;

			display: flex;
			align-items: center;

			padding: 0.875rem 2rem 0.875rem 0;

			width: 100%;

			color: var(--grey);
			font-size: 1.25rem;
			font-weight: 500;
			line-height: 130%;
			letter-spacing: -0.05rem;

			transition: color .3s ease;

			@media (any-hover: hover) {
				&:hover {
					color: var(--theme-color-2);
					span::before {
						color: var(--theme-color-2);
					}
				}
			}

			&::before {
				content: '';
				position: absolute;
				left: 0; bottom: 0;
				width: 100%; height: 0.125rem;
				background: var(--grey);
			}

			&::after {
				content: '';
				position: absolute;
				left: 0; bottom: 0;
				width: 0; height: 0.125rem;
				background: var(--theme-color-1);

				transition: width .2s ease, background .2s ease;
			}

			&.is-active {
				color: var(--theme-color-1);
				span::before {
					color: var(--theme-color-1);
				}
			}

			&.is-active::after {
				transition: width 0.05s linear;
				width: var(--value,0%);
			}
			
			span::before {
				counter-increment: work-stages-number;
				content: counter(work-stages-number)"/";

				padding-right: 1.125rem;

				color: var(--grey);
				font-size: 0.8125rem;
				font-weight: 600;
				line-height: 123.077%;
				letter-spacing: -0.0325rem;
				text-transform: uppercase;

				transition: color .3s ease;
			
			}
			
		}
	}

	// .work-stages__gallery

	&__gallery {

		min-height: 100%;

		display: flex;
		flex-direction: column;

		// .work-stages__gallery--track

		&--track {
			//min-height: 100%;
			flex: 1 1 auto;

			display: flex;
			flex-direction: column;
		}

		// .work-stages__gallery--list

		&--list {
			min-height: 100%;
			flex: 1 1 auto;
		}

		// .work-stages__gallery--slide

		&--slide {
			min-height: 100%;
		}

		&--image {
			min-height: 100%;
			img {
				transform: scale(1.15);
				transition: transform 1s ease;

				background: var(--grey-headings);
			}
		}

		&--slide.is-active &--image img {
			transform: scale(1);
		}

		&--name {
			@include _992 {
				display: none;
			}
		}

		// .work-stages__gallery--number

		&--number {
			position: absolute;
			left: 1.5rem; bottom: 1.5rem;
			color: var(--white);

			font-weight: 500;
			line-height: 137.5%;
			letter-spacing: -0.04rem;
		}
	}

	// .work-stages__slider

	&__slider {

		padding-right: 0.875rem;
		
		// .work-stages__slider--track

		&--track {
			&.splide__track {
				overflow: visible;
			}
		}

		// .work-stages__slider--list

		&--list {
			counter-reset: work-stages-number;
		}

		// .work-stages__slider--slide

		&--slide {
			
		}

		&--slide:nth-child(-n + 9) &--name::before {
			counter-increment: work-stages-number;
			content: "0"counter(work-stages-number)"/";

			color: var(--theme-color-1);
			font-size: 0.8125rem;
			font-weight: 600;
			line-height: 123.077%;
			letter-spacing: -0.0325rem;
			text-transform: uppercase;

			padding-right: 0.875rem;
		}

		// .work-stages__slider--image

		&--image {
			img {
				background: var(--grey-headings);
			}
		}

		// .work-stages__slider--name

		&--name {
			margin-top: 1.25rem;
			padding: 0.875rem 0;

			display: flex;
			align-items: center;

			color: var(--theme-color-1);
			font-size: 1.25rem;
			font-weight: 500;
			line-height: 130%;
			letter-spacing: -0.05rem;

			border-bottom: 0.0625rem solid var(--theme-color-1);
		}

		&--pagination {
			
		}
	}
}


